@model IEnumerable<LabConsoleAplication.ProductInvoice>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Invoice.InvoiceNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { productID = item.ProductID, invoiceID = item.InvoiceID }) |
                @Html.ActionLink("Details", "Details", new { productID=item.ProductID, invoiceID=item.InvoiceID }) |
                @Html.ActionLink("Delete", "Delete", new { productID = item.ProductID, invoiceID = item.InvoiceID })
            </td>
        </tr>
}
    </tbody>
</table>
